<main class="hero-section">
  <div class="content-left">
    <div class="image-wrapper">
      <a href="#about" target="_blank">
        <img src="./assets/images/profile/logo1.png" alt="Duncan Robert" class="profile-photo">
      </a>
    </div>
  </div>

  <div class="content-center">
    <p class="name-label">KHẢI VĂN</p>
    <h1 class="keyword backend">SOFTWARE</h1>
  </div>

  <div class="content-right">
    <h1 class="keyword developer">DEVELOPER</h1>
    <p class="description">Tôi là lập trình viên phần mềm tại Việt Nam, chuyên phát triển Java cho các ứng dụng web.</p>
  </div>
</main>

<section class="services-section">
  <div class="services-content">
    <h2 class="services-title">TÔI CÓ THỂ LÀM GÌ CHO BẠN</h2>
    <p class="services-desc">
      Là một lập trình viên, tôi là người xây dựng, thiết kế và tạo ra những sản phẩm có tính ứng dụng và sáng
      tạo.
    </p>
    <ul class="services-list">
      <li>
        <div class="service-main">
          <span>1. BACKEND JAVA WEB</span> <span class="arrow">&#x25B2;</span>
        </div>
        <ul class="service-sub">
          <li>Spring Boot / Hibernate</li>
          <li>MySQL / RESTful API</li>
          <li>Security & Authentication</li>
        </ul>
      </li>

      <li>
        <div class="service-main">
          <span>2. LẬP TRÌNH C/C++</span> <span class="arrow">&#x25B2;</span>
        </div>
        <ul class="service-sub">
          <li>Thuật toán & cấu trúc dữ liệu</li>
          <li>Lập trình hướng đối tượng (OOP)</li>
          <li>Ứng dụng Console / Game nhỏ</li>
        </ul>
      </li>

      <li>
        <div class="service-main">
          <span>3. YEAH TÔI CÓ THỂ HỌC MỌI THỨ</span> <span class="arrow">&#x25B2;</span>
        </div>
        <ul class="service-sub">
          <li>Front-end: HTML, CSS, JS</li>
          <li>Framework mới</li>
          <li>Thích nghi nhanh và sáng tạo</li>
        </ul>
      </li>

      <li>
        <div class="service-main">
          <span>4. THƯƠNG HIỆU</span> <span class="arrow">&#x25B2;</span>
        </div>
        <ul class="service-sub">
          <li>Thiết kế giao diện cá nhân</li>
          <li>Xây dựng portfolio</li>
          <li>Tư duy sản phẩm & người dùng</li>
        </ul>
      </li>
    </ul>

  </div>
  <div class="services-image">
    <img src="./assets/images/profile/logo2.png" alt="Workspace" />
  </div>
</section>