<section class="projects-section">
  <!-- Header -->
  <div class="projects-header">
    <h1>Dự Án Của Tôi</h1>
    <p>
      Dưới đây là một số dự án cá nhân và học tập mà tôi đã thực hiện, giúp tôi rèn luyện kỹ năng lập trình,
      thiết kế và giải quyết vấn đề sáng tạo.
    </p>
  </div>

  <!-- Project Cards -->
  <div class="projects-container">
    <a href="https://github.com/KhaiVanVu-TS88/quanlythuvien.git" target="_blank">
      <div class="project-card">
        <div class="project-image">
          <img src="./assets/images/profile/logo1.png" alt="Quản lý thư viện" />
        </div>
        <div class="project-content">
          <h4>Dự án 1</h4>
          <h3>Quản lý thư viện</h3>
        </div>
      </div>
    </a>

    <a href="https://github.com/KhaiVanVu-TS88/BookStore.git" target="_blank">
      <div class="project-card">
        <div class="project-image">
          <img src="./assets/images/profile/logo2.png" alt="Trang công nghệ" />
        </div>
        <div class="project-content">
          <h4>Dự án 2</h4>
          <h3>Bookstore</h3>
        </div>
      </div>
    </a>

    <a href="https://github.com/KhaiVanVu-TS88/JavaWebGroup1.git" target="_blank">
      <div class="project-card">
        <div class="project-image">
          <img src="./assets/images/profile/logo3.png" alt="Spotify Clone" />
        </div>
        <div class="project-content">
          <h4>Dự án 3</h4>
          <h3>Quản lý trung tâm tiếng anh</h3>
        </div>
      </div>
    </a>

    <a href="https://github.com/KhaiVanVu-TS88/BTL_Nhom-10_Java.git" target="_blank">
      <div class="project-card">
        <div class="project-image">
          <img src="./assets/images/profile/logo4.png" alt="Facebook Clone" />
        </div>
        <div class="project-content">
          <h4>Dự án 4</h4>
          <h3>Quản lý nhân viên</h3>
        </div>
      </div>
    </a>

    <a href="https://github.com/KhaiVanVu-TS88/XLA_NHOM3.git" target="_blank">
      <div class="project-card">
        <div class="project-image">
          <img src="./assets/images/profile/logo5.png" alt="Doanh nghiệp" />
        </div>
        <div class="project-content">
          <h4>Dự án 5</h4>
          <h3>Nhận diện cảm xúc gương mặt</h3>
        </div>
      </div>
    </a>

    <a href="https://github.com/KhaiVanVu-TS88/Nhom5_CUDA_HPC.git" target="_blank">
      <div class="project-card">
        <div class="project-image">
          <img src="./assets/images/profile/logo1.png" alt="Web App" />
        </div>
        <div class="project-content">
          <h4>Dự án 6</h4>
          <h3>CUDA HPC</h3>
        </div>
      </div>
    </a>
  </div>
</section>